@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$base-font-size: 16px; // Define a base font size

body {
  background-color: rgb(233, 232, 232);
}

.menu-container {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.top-menu {
  display: flex;
  gap: 20%;
  width: 100%;
  margin-top: 4%;
  text-align: center;

  .logo {
    margin-left: 5%;
    position: relative;
    font-size: 1.7em; // relative font size based on $base-font-size
    font-family: 'Bruno Ace SC', cursive;
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: royalblue;

    span {
      color: royalblue;
      -webkit-text-stroke-width: 0px;
    }
  }
  
  .search-bar-container {
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid royalblue;
    border-radius: 20px;
    overflow: hidden; // This will ensure the child elements don't overflow the rounded corners
  }
  
  .search-bar {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    background-color: white;
    color: #202020;
  
    &:focus {
      outline: none;
      //box-shadow: inset 0 0 0 2px royalblue; // This creates an inner glow effect when focused
    }
  
    &::placeholder {
      color: #999;
    }
  }
  
  .search-icon {
    padding: 0 15px;
    color: royalblue;
  }
  

  .authentication {
    display: flex;
    gap: 18%;
    align-items: center;
    font-size: 1.4em; // relative font size based on $base-font-size
    justify-content: center;

    .logo {
      position: relative;
      font-size: 1.3em; // relative font size based on $base-font-size
      font-family: 'Bruno Ace SC', cursive;
      color: white;
      font-family: "Anton", sans-serif;
      font-weight: 300;
      font-style: normal;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: royalblue;
  
      span {
        color: royalblue;
        -webkit-text-stroke-width: 0px;
      }
    }

    .log-in,
    .sign-up {
      font-size: 105%;
      color: #202020;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      position: relative;
      font-family: 'Bebas Neue', cursive;
      font-optical-sizing: auto;
      font-style: normal;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.filter-buttons {
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 2%;
  //border-top: 1px solid gray;
  //border-bottom: 1px solid gray;
  background-color: royalblue;


  .laptop-filter {
    text-decoration: none;
    color: white;
    display: flex;
    //font-size: $base-font-size * 0.7.2; // base font size for responsiveness
    font-size: 90%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    gap: 5%;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
    cursor: pointer;
    position: relative;
    //border-top: 1px solid gray;
    //border-bottom: 1px solid gray;
    transition: border-top-color 0.5s ease-in-out;
    transition: border-bottom-color 0.5s ease-in-out;


    &:hover {
      background-color: white;
      color: royalblue;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      background-color: black;
      transition: width 0.3s ease;
    }

  }

  
  
}

.filter-button {
  position: relative;
  display: flex;
  gap: 15%;
  height: 35px;
  width: 10%;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin-top: 3.5%;
  margin-left: 3%;
  border: 0.7px solid royalblue;
  border-radius: 10px;
  color: royalblue;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
}

.store-dropdown {
  justify-content: center;
  margin-top: 1.5%;
  margin-left: 2%;
  height: 100px;
  width: 12%;
  //text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  label {
    margin-left: 2em;
  }
}



// Media queries for responsiveness
@media (max-width: 768px) {
  .top-menu {
    flex-direction: column;
    align-items: center;
    
    .search-bar-container {
      margin-left: 0;
    }
  }

  .authentication {
    flex-direction: column;
    gap: 5%;
  }

  .filter-buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .top-menu {
    margin-top: 2%;
    padding: 0 5%;
  }

  .authentication {
    font-size: 1.2em;

    .log-in,
    .sign-up {
      font-size: 70%;
    }
  }

  .filter-buttons {
    margin-top: 1%;
  }
}

@media (min-width: 1920px) {
  .top-menu {
    .search-bar-container {
      margin-right: 7%;
    }   
  }

  .authentication {
    .logo {
      font-size: 1.5em;
    }
  }
}